@import '../../../styles/_base.scss';
.tracklist-directory {
    ul {
        padding-left: 16px;
    }
    .is-current {
        font-weight: bold;
        color: $active-link-color;
        list-style-type: disc;
        a {
            color: inherit;
        }
    }
    li {
        color: #337ab7;
        list-style-type: circle;
        label {
          cursor: pointer;
        }
    }
}
