{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react"
  ],
  "plugins": [
    "babel",
    "react",
    "promise"
  ],
  "env": {
    "browser" : true
  },
  "globals": {
    "__DEV__"      : false,
    "__TEST__"     : false,
    "__PROD__"     : false,
    "__COVERAGE__" : false,
    "API_BASE"     : false
  },
  "rules": {
    "func-call-spacing"    : 0,
    "key-spacing"          : 0,
    "jsx-quotes"           : [1, "prefer-single"],
    "react/jsx-boolean-value": [2, "always"],
    "react/jsx-indent"     : [1, 4],
    "react/jsx-indent-props":[1, 4],
    "react/no-unused-prop-types": [0],
    "max-len"              : [1, 120, 2],
    "object-curly-spacing" : [1, "always"],
    "comma-dangle": [1, "always-multiline"],
    "semi": [1,"always"],
    "camelcase": [0,{"properties":"never"}],
    "indent": [1,4],
    "space-before-function-paren": [1, {
        "anonymous": "always",
        "named": "never"
    }],
    "no-multi-spaces": 0,
    "space-in-parens": 0,
    "no-whitespace-before-property": 0,
    "operator-linebreak": 0,
    "brace-style": [1, "stroustrup"],
    "standard/computed-property-even-spacing": 1,
    "standard/object-curly-even-spacing": 0,
    "space-unary-ops": 1,
    "semi-spacing": 1
  },
}
