.is-current {
    background: red;
}
.scrollspi ul {
    position:fixed;
    top: 0;
    left: 0;
    z-index: 50;
}
.scrollspi section {
    margin-bottom: 200px;
}
.tracklist-sections {
    height: 100%;
    overflow-y: auto;
    section {
        padding-top: 1rem;
    }
    a {
        display: block;
    }
}
.tracklist-directory > ul.is-fixed {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: auto;
    width: 30%;
}
