.pager > a {
    cursor: pointer;
}
.search-results ol {
    p, div {
        display: inline;
    }
    > li.shows-stem {
        margin-top: 2em;
        label {
            display: block;
            margin-top: -1.2em;
            position: absolute;
        }
    }
}
