.subs {
    position: relative;
    padding-bottom: 50px;
    > p > .is-humanic {
        font-weight: normal;
        color: black;
    }
    > p > .is-automatic {
        color: #666;
    }
}
.sub-rects>span {
    position: absolute;
    z-index: -1;
}
.sub-rect {
    background-color: yellow;
}
.marked-word-rect {
    background-color: lightBlue;
}
.submitted-word-rect {
    border-bottom: 1px dotted gray;
}
.failed-word-rect {
    border-bottom: 1px dotted red;
}
.control-bar {
    background-color: white;
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35px;   /* used in component */
    padding: 5px 15px;
    z-index: 1;

    > button {
        width: 58px;
        margin-right: 10px;
    }
}
.sidebar {
    position: fixed;
    top: 69px;
    width: 100%;
    height: calc(100% - 75px);
    overflow-y: auto;
}

.loading-overlay {
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 300px);
    width: 600px;
    color: black;
    font-size: 150%;
    text-align: center;
    z-index: 1;

    > span {
        z-index: 5;
        position: relative;
        line-height: 30px;
        background-color: white;
        display: inline-block;
        padding: 30px 100px;
        border-radius: 10px;
    }
}
.equalizer {
    width: calc(100% - 5px);
    height: 200px;
}
