@import 'base';
@import '~normalize.css/normalize';
@import 'bootstrap/stylesheets/bootstrap';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Karla", "Helvetica Neue", Helvetica, sans-serif;
}

h1, h2, h3, h4, nav>ul {
  font-family: "VT323", monospace;
  font-size: 1.5em;
}

h1 {
  font-size: 3em;
}
h4 {
  font-size: 2em;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.is-collapsed {
    display: none;
}

body a:hover {
    color: $active-link-color;
}

a, .clickable {
    cursor: pointer;
}

.unclickable {
    cursor: inherit;
}
